.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 25px;
    border-bottom: 1px solid #EFEFEF;
}

.actions {
    margin-top: 2.5rem;
}

.actions button {
    border: none;
    border-bottom: 1px solid #7A7A7A;
    color: #7A7A7A;
    background-color: transparent;
    padding: 0;
    font-size: .5rem;
    letter-spacing: 1px;
}

.actions button:hover {
    cursor: pointer;
    color: #C6CA53;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.desc {
    text-align: right;
}

.desc h2 {
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

.price {
    font-size: .9rem;
    color: #7A7A7A;
    margin-top: 2.5rem;
}