.cartbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
}

.icon {
    width: 1.2rem;
    height: 1.2rem;
}

.modal {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 450px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    z-index: 10;
}

.cart-show {
    right: 0;
    transition: all 0.3s ease-in-out;
}

.cart-hide {
    right: -500px;
    transition: all 0.3s ease-in-out;
}

.checkout {
    margin-top: 20%;
    height: 50px;
    width: 300px;
}