.cartbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
    border: transparent;
    color: #0E181B;
    background-color: transparent;
}

.cartbtn:hover {
    cursor: pointer;
    color: #C6CA53;
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .5rem;
    color: #0E181B;
}

/* Cart Modal Window */
.modal {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 450px;
    background-color: #FFFFFF;
    z-index: 35;
    box-shadow: 0px 10px 10px #7A7A7A;
    padding: 0 2rem;
    overflow: scroll;
}

.cart-show {
    right: 0;
    transition: all 0.3s ease-in-out;
}

.cart-hide {
    right: -500px;
    transition: all 0.3s ease-in-out;
}


/* Actual Cart */
.exit-btn {
    border: none;
    color: #0E181B;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.exit-btn:hover {
    color: #C6CA53;
    cursor: pointer;
}

.cartitems {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.cartitems h4 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Outfit', sans-serif;
}

.carty {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Outfit', sans-serif;
}

.checkout {
    margin-top: 12%;
    margin-left: 6%;
    height: 50px;
    width: 90%;
    border: none;
    border-radius: 2px;
    background-color: #477998;
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.checkout:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #477998;
    border: 2px solid #477998;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .modal {
        width: 100vw;
        height: 100vh;
    }

    .exit-btn {
        float: left;
    }

    .checkout {
        margin-bottom: 3rem;
    }
}