.footer {
    position: sticky;
    height: 150px;
    width: 100vw;
    bottom: 0;
    color: #EFEFEF;
    background-color: #0E181B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;;
}