.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    width: 100%;
    background-color: #0E181B;
    z-index: 10;
}

.logo {
    float: left;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .5rem;
    color: #F2F4F3;
    text-align: center;
    margin-left: 44%;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    float: left;
    color: #F2F4F3;
    margin-right: 4rem;
}

.search {
    border: none;
    border-bottom: 1px solid #F2F4F3;
    background-color: transparent;
    background-image: url('../../assets/magnifying-glass.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 2rem;
}

.search::placeholder {
    font-family: 'Manrope', sans-serif;
    color: #F2F4F3;
}

.search:focus {
    outline: none;
}