.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100vw;
  background-color: #ffffff;
  z-index: 10;
}

.logo {
  width: 200px;
  height: auto;
  margin-left: 6rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  float: left;
  color: #242423;
  margin-right: 6rem;
}

.dropdown .link {
  background-color: transparent;
  border: none;
  color: #0E181B;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
}

.dropdown .link:hover {
  cursor: pointer;
  color: #c6ca53;
}

.user-icon {
  width: 1.3rem;
  height: 1.3rem;
  color: #0E181B,
}

.user-icon:hover {
  cursor: pointer;
  color: #c6ca53;
}

@keyframes dropdown {
  from {opacity: 30%;}
  to {opacity: 100%;}
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  margin-top: 4.5rem;
  right: 10rem;
  background-color: #FFFFFF;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  z-index: 25;
  box-shadow: 1px 1px 3px #7a7a7a;
  animation-name: dropdown;
  animation-duration: .3s;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .header {
    height: 4rem;
  }

  .logo {
    width: 125px;
    margin-left: 1rem;
  }

  .nav {
    margin-right: 1rem;
  }

  .dropdown {
    margin-top: 3.5rem;
    right: 6rem;
  }

}