.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100vw;
    background-color: #FFFFFF;
    z-index: 10;
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 8rem;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    float: left;
    color: #242423;
    margin-right: 8rem;
}

.search {
    border: none;
    border-bottom: 1px solid #242423;
    background-color: transparent;
    background-image: url('../../assets/magnifying-glass.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 2rem;
}

.search::placeholder {
    font-family: 'Manrope', sans-serif;
    color: #242423;
}

.search:focus {
    outline: none;
}