.page {
    height: 800px;
    width: 100vw;
}

.title {
    color: #0E181B;
    text-align: center;
    border-bottom: 1.5px solid #7A7A7A;
    padding-top: 7rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
}

.title-container {
    margin: 0 auto;
    margin-top: 4.5rem;
    width: 100px;
}


/* Auth Form */

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 2.5rem;
    padding: 20px;
}

.form-input {
    width: 300px;
    background-color: #FFFFFF;
    outline-color: #477998;
    border: none;
    border-radius: 2px;
    padding: 13px 10px;
}

.invalid {
    background-color: #FFFFFF;
    border: none;
    border: 2px solid #d30303;
    outline-color: #477998;
    border-radius: 2px;
    padding: 13px 10px;
    width: 300px;
}

.invalid-entry {
    color: #d30303;
    font-size: .8rem;
    padding-bottom: .2rem;
}

.form-input::placeholder {
    font-family: 'Manrope', sans-serif;
    color: #7A7A7A;
}

.form-btn {
    width: 300px;
    padding: 13px 20px;
    color: #EFEFEF;
    background-color: #0E181B;
    border: 1px solid #0E181B;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.form-btn:hover {
    color: #0E181B;
    background-color: #EFEFEF;
    cursor: pointer;
    border: 2px solid #0E181B;
}

.form-btn-switch {
    color: #7A7A7A;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

.form-btn-switch:hover {
    cursor: pointer;
    color: #C6CA53;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .title-container {
        margin-top: 4rem;
    }
}