.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 1000px;
    width: 100vw;
    padding-top: 10rem;
}

.img {
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.details-name {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.details-rating {
    display: flex;
    flex-direction: row;
    margin-top: .4rem;
}

.details-rating p {
    margin-left: .5rem;
}

.details-price {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #7a7a7a;
    margin-top: 1.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #7a7a7a;
}

.size {
    margin-top: 2rem;
}

.size h4 {
    margin-bottom: .8rem;
}

.size input {
    accent-color: #477998;
}

.size input:hover {
    cursor: pointer;
}

.size label {
    margin-right: 1rem;
    margin-left: .2rem;
}

.addtocart {
    margin-top: 3rem;
}

.addtocart p {
    font-size: .8rem;
}

.addtocart span {
    color: #C6CA53;
}

.cartbtn {
    height: 50px;
    width: 350px;
    margin-top: .5rem;
    border: none;
    border-radius: 2px;
    background-color: #477998;
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.cartbtn:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #477998;
    border: 2px solid #477998;
}