.hero {
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/heroImage.jpg');
    background-size: cover;
    padding-left: 5rem;
    padding-right: 8%;
}

.content {
    padding-top: 30%;
    text-transform: uppercase;
}

.hero h2 {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: right;
    color: white;
}

.hero a {
    background-color: #0E181B;
    color: #EFEFEF;
    border: none;
    padding: 10px 20px;
    margin-top: 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 2px;
    float: right;
    transition: all 0.2s ease-in-out;
}

.hero a:hover {
    cursor: pointer;
    background-color: #EFEFEF;
    color: #0E181B;
}