.product-card {
    height: 475px;
    width: 300px;
}

.product-card__details {
    font-family: 'Outfit', sans-serif;
    padding: 1rem;
}

.product-card__btn {
    font-size: .8rem;
    color: #0E181B;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0E181B;
    letter-spacing: 1px;
    padding: 0;
    cursor: pointer;
}

.product-card__btn:hover {
    color: #C6CA53;
}

.product-card__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .4rem;
    padding-top: .8rem;
    border-top: 1px solid #c6c5c5;
}

.image {
    height: 400px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.name {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.name:hover {
    cursor: pointer;
}

.desc {
    font-size: .7rem;
    color: #7A7A7A;
    margin-top: .4rem;
}

.price {
    font-size: .9rem;
    color: #7A7A7A;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .product-card__details {
        padding: 1rem 0rem;
    }

    .product-card__price {
        padding-top: .5rem;
    }
}