.product-container {
  height: 1800px;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

@media only screen and (min-width: 1543px) {
  .product-container {
    height: 1200px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .product-container {
        height: 4500px;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
    }
}